{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - PCCW{% else %}{{ _('PCCW') }}{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">PCCW</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">{{ _('ABOUT US') }}</a></li>
                    <li><a href="{{ url_for('main.csr') }}">{{ _('Csr') }}</a></li>
                    <li><a href="{{ url_for('main.digital_journeys') }}">{{ _('Digital Journeys') }}</a></li>
                    <li><a href="{{ url_for('main.careers') }}">{{ _('Careers') }}</a></li>
                    <li><a href="{{ url_for('main.contact') }}">{{ _('Contact') }}</a></li>
                    <li><a href="{{ url_for('main.root') }}">{{ _('Root') }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}



{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# current_application content needs to be provided in the current_app_content block #}
        {% block current_app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <nav class="navbar-expand-sm bg-light">
  <div class="col-sm-10 form-group-lg">
      <div class="container">
   <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">{{ _('ABOUT US') }}</a>
                        <ul>
                            <li>About us</li>
                            <li>Leadership</li>
                            <li>Milestones</li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('main.csr') }}">{{ _('Csr') }}</a>
                    <ul>
  <li>Overview</li>
  <li>Our Environment</li>
  <li>Our People</li>
   <li>Our Supply Chain</li>
</ul></li>

                           <li><a href="{{ url_for('main.contact') }}">{{ _('Contact') }}</a>
                    <ul>
  <li>Contact Details</li>
  <li>Feedback Form</li>
   <li>Shop Locations</li>
</ul></li>
                    <li><a href="{{ url_for('main.careers') }}">{{ _('Careers') }}</a>
                    <ul>
                        <li><a href="{{ url_for('main.careers') }}">{{ _('Careers') }}Internship</a></li>
  <li>Development</li>
   <li>Be a PCCW Talent</li>
</ul></li>


                    <li><a href="{{ url_for('main.root') }}">{{ _('Root') }}</a><ul>

</ul></li>
        <li><a href="{{ url_for('main.digital_journeys') }}">{{ _('Digital Journeys') }}</a>
                    <ul>
  <li>Case Studies</li>

</ul></li>

<br>
       <div class="class=fix-left sm-left">
                    <form class="form-inline">

                     <input class="form-control mr-sm-2" type="search" placeholder="SEARCH PCCW.COM" aria-label="Search">

                        <button class="navbar navbar-dark bg-primary" type="submit">Search</button>

  </form>
       </div>

   </ul>
   </div>
  </div>
</nav>
{% endblock %}




