{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
    <h3>Find out about our contact details and helplines as well as other information regarding our PCCW shops and worldwide offices, or send in your comments or feedback.</h3>
    <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Consumer</th>
                        <th>Business</th>
                        <th>Other</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">HKTShop.com</th>
                        <td>+852 2888 6677
(9am-9pm daily)</td>
                        <td>cs@hktshop.com</td>

                    </tr>
                    <tr>
                        <th scope="row">PCCW Consumer Service Hotline</th>
                        <td>+852 1000</td>
                        <td>pccw1000@pccw.com</td>

                    </tr>
                    <tr class="job-row job-row-even">
                        <th scope="row">Customer Service Suggestions</th>
                        <td> </td>
                        <td>
cs@pccw.com</td>

                    </tr>
                </tbody>
            </table>
     <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Consumer</th>
                        <th>Business</th>
                        <th>Other</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">PCCW Business Customer Hotline 24-hour Sales</th>
                        <td>+852 10088</td>
                        <td>business_inquiry@pccw.com</td>

                    </tr>
                    <tr>
                        <th scope="row">PCCW Business Customer Hotline 24-hour</th>
                        <td>+852 10088</td>
                        <td>bizservices@pccw.com
(General Enquiries)
bizts@pccw.com
(Technical Support)</td>

                    </tr>
                    <tr class="job-row job-row-even">
                        <th scope="row">Customer Service Suggestions</th>
                        <td> </td>
                        <td>
cs@pccw.com</td>

                    </tr>
                </tbody>
            </table>
    <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Consumer</th>
                        <th>Business</th>
                        <th>Other</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Media Contacts</th>
                        <td></td>
                        <td>pr@pccw.com</td>

                    </tr>
                    <tr>
                        <th scope="row">PCCW Investor Relations</th>
                        <td></td>
                        <td>ir@pccw.com</td>

                    </tr>
                    <tr class="job-row job-row-even">
                        <th scope="row">Career Inquiries</th>
                        <td> </td>
                        <td>
career@pccw.com</td>

                    </tr>
                </tbody>
            </table>


{% endblock %}

