{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
    <h1>{{ _('Corporate Social Responsibility') }}</h1>
    <br>
    <h4>As Hong Kong’s leading information and communications technology (ICT) and media service provider, corporate social responsibility (CSR) is an integral part of our business strategy. We seek to operate in an economically, socially and environmentally ethical way while balancing the interests of our internal and external stakeholders, and supporting and connecting the communities we serve.</h4>

{% endblock %}