{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
    <h1>{{ _('Case Studies') }}</h1>
<br>
    <div style="text-align: center"><h3>Delivering differentiated services with intelligent fiber network</h3></div>
    <br>
    <p><h4>PCCW Solutions is appointed as SPTel’s consultancy partner to develop an end-to-end intelligent fiber network powered by SDN-NFV, empowering SPTel to deliver differentiated service offerings and meet dynamic business demands.</h4></p>

{% endblock %}